<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="Tracker"
         providerName="System.Data.SQLite"
         connectionString="Data Source=C:\projects\fluentcommand\Database\SQLite\Tracker.db;Version=3;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>

</configuration>