<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AspNet"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(local);Initial Catalog=aspnetdb;Integrated Security=True;"/>

    <add name="Tracker"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(local);Initial Catalog=Tracker;Integrated Security=True;"/>

    <add name="TrackerNoProvider" 
         connectionString="Data Source=(local);Initial Catalog=Tracker;Integrated Security=True;"/>

    <add name="TrackerCompact" 
         providerName="System.Data.SqlServerCe.4.0" 
         connectionString="Data Source=C:\Projects\github\EntityFramework.Extended\Database\SqlCompact\Tracker.sdf;"/>


  </connectionStrings>
</configuration>
