<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="Tracker"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(local)\SQL2014;Initial Catalog=Tracker;User ID=sa;Password=Password12!;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />

    <add name="AspNet"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(local)\SQL2014;Initial Catalog=aspnetdb;User ID=sa;Password=Password12!;MultipleActiveResultSets=true;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>
  
</configuration>