<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AspNet"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(local);Initial Catalog=aspnetdb;Integrated Security=True;"/>

    <add name="Tracker"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(local);Initial Catalog=Tracker;Integrated Security=True;"/>

    <add name="TrackerNoProvider" 
         connectionString="Data Source=(local);Initial Catalog=Tracker;Integrated Security=True;"/>

  </connectionStrings>
</configuration>
